<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plan App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              
                   
                <!-- Get the hide/apper effect but without the style -->
                <!-- Left Element -->
               

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="dropdown">
                            <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-list" style="color: white ; font-size: 30px;"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                <li class="nav-item">
                                    <a class="nav-link text-dark info" asp-area="" asp-controller="Home" asp-action="Index" style="color:black !important">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark info" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:black !important" >Privacy</a>
                                </li>
                            </ul>
                        </div>
                       
                    </ul>

                
                <!-- End Left Element -->
                <!-- Center Element -->
                
                    <ul class="navbar-nav me-auto pb-2 pb-lg-0 m-auto">
                        <li><a class="navbar-brand" asp-area="" asp-controller="Plans" asp-action="Index">Plan App</a></li>
                    </ul>
              
                <!-- End Center Element -->
                <!-- Right Element -->
              
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li> <img src="https://www.partnersgroup.sk/themes/partnersgroup/assets/images/logo/pgsk-logo-small.png" class="logo"></li>
                    </ul>
                
                <!-- End Right Element -->
            </div>
        </nav>
        
       
    </header>
    <div class="container-fluid p-5 overflow-hidden" style="background-color: #f9fafa">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Plan App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
